SpaceInvaders/My project/Library
SpaceInvaders/My project/Temp
SpaceInvaders/My project/Logs
*.vsidx
SpaceInvaders/My project/.vs/My project/v17/.suo
SpaceInvaders/My project/.vs/My project/v17/.suo
SpaceInvaders/My project/.vs/My project/v17/.suo
