SpaceInvaders/My project/Library/
SpaceInvaders/My project/Temp/
SpaceInvaders/My project/Logs/
SpaceInvaders/My project/FileContentIndex/*
SpaceInvaders/My project/UserSettings
MergedPoject/My project/Library
